{% extends 'layouts/admin.html.twig' %}

{% block title %}New Post{% endblock %}
{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
                <li class="breadcrumb-item"><a href="{{ path('app_admin_post_index') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_admin_post_index') }}">CRUD</a></li>
                <li class="breadcrumb-item active text-primary">New</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}
    <h1 class="text-primary my-5">Créer un Post</h1>

    {{ include('admin_post/_form.html.twig', {button_label: 'Envoyer', notDelete: true}) }}

    <a class="d-block my-5" href="{{ path('app_admin_post_index') }}">Retour à la liste</a>
{% endblock %}
