{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="action" value="edit">
    <button class="btn btn-primary" onclick="this.form.action.value='edit';">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
